# Config file for automatic testing at travis-ci.org

dist: bionic
language: python
python:
  - 3.11
  - 3.10
  - 3.9
  - 3.8
  - 3.7
  - 3.6
  - 3.5

# Command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox-travis

# Command to run tests, e.g. python setup.py test
script: tox


